
@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-xs-12 text-center">
    <h3>Access is denied. You may not have the appropriate permissions to access this link.</h3>
    <h4><a href="~/Home/Index">Back</a></h4>
</div>