<appSettings>
  
  <!--<add key="BCSConnection" value="Data Source=localhost;Initial Catalog=SSP;Persist Security Info=True;User ID=sa;Password=123;Max Pool Size=1000;Connect Timeout=720;Pooling=true;" />-->
  <add key="EnableOptimizations" value="false"/>

  <!--Key Crypt-->
  <add key="AesIV" value="mgDqaZE2q0lGc9ywS7j/Lw=="/>
  <add key="AesKey" value="ielqEUUHbauOOvzQ2YJdbXY76f22d1cRWC4RKNvbe7M="/>

  <!-- Email Configuration -->
  <add key="mail-host" value="smtp.sendgrid.net"/>
  <add key="mail-port" value="587"/>
  <add key="mail-sleep" value="3000" />
  <!--Sleep 3s before re-send-->
  <add key="mail-mode" value="ews" />
  <add key="mail-sender" value="ssp_admin@smartsystemspro.com" />
  <add key="mail-ssl" value="true" />
  <add key="mail-usedefaultcredential" value="false" />
  <add key="mail-user" value="ssp_system_admin" />
  <add key="mail-password" value="Asdcvnmmvb" />
  <add key="mail-domain" value="seta-international.vn" />
  <add key="mail-autodiscover" value="false" />
  <add key="mail-exchangeserviceurl" value="smtp.sendgrid.net" />
  <add key="mail-html" value="true" />
  <add key="mail-async" value="false" />
  
  <!--webService url-->
  <add  key="webServiceUrl" value="http://bcsws.smartsystemspro.com/"/>
  <add  key="GetUserByToken" value="serviceApi/Users/getUserByToken/"/>

  <!--Session-->
  <add key="SessionCountDown" value="15"/>
  <!--5 Mins-->
  <add key="SessionKeyUser" value="user"/>

  <!--Config for Cache-->
  <add key="UseCache" value="False"/>
  <add key="CacheFormatGenerate" value="-{0}_{1}"/>
  <add key="CacheFormatGenerateOutputParam" value="{0}|Ouput-{1}"/>
  <add key="IgnoreNotify" value="GenerateCommon|"/>

  <!--Log Error -->
  <add key="SystemMailLog" value="false"/>
  <add key="SystemName" value="BCS DEMO"/>

  <add key="aspnet:MaxJsonDeserializerMembers" value="1000000" />

  <!-- url redirect-->
  <add key="current-domain" value="v2.smartsystemspro.com"/>
  <add key="domain-login" value="http://therestaurantexpert.com/member-login"/>
  
</appSettings>