<div class="col-xs-12 menu-first">
    <div class="page-bar margin-top-10">
        <a class="menu-budget-settings" onclick="redirectToCategorySetting()">Setting</a>
        <a class="menu-budget-details" onclick="redirectToBudgetDetails()" style="padding: 0 0px 0 100px;">Budget Details</a>
        @*<a class="menu-budget-review" onclick="redirectToReview()">Review</a>*@
        @*<a href="#" class="menu-budget-edit" onclick="redirectToEditBudget()">Edit Budget</a>*@
    </div>
</div>