@{
    ViewBag.Title = "Change Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="form-group">
    <div class="col-xs-12 text-center" style="color: blue">
        <p>Your password has been changed successfully.</p>@Html.ActionLink("Home", "Index", "Home")
        <br />
    </div>
</div>
